*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #204051;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 50vw;
    margin: 0 auto;
    min-height: 100px;    
}

header .container {
    text-align: right;
    margin-top: 25px;    
}

.logo {
    color: white;
    float: left;
    text-align: left;
    text-transform: uppercase;
    font-weight: 100;    
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 4px;
}

.eventDates {
    color: #84a9ac;
    font-weight: 200;
    letter-spacing: 1px;
}

.navUl {
    list-style: none;
}

.navLi {
    color: white;
    display: inline-block;
    padding-left: 12px;
    font-size: 1rem;
    font-weight: 400;
}

.navLi a {
    text-decoration: none;
    color: white;
}

.primaryNav {
    margin-top: 30px;
    
}

.hero {
    text-align:center;    
    margin-top: 40px;
    color: white;
    padding: 10px;
}

.heroRegister {
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    color: rgb(80, 80, 80);
}

.heroRegister h2 {
    color: rgb(80, 80, 80);
}

.hero .container {
    width: 40vw;
}

.heroTitle {
    color: #84a9ac;
    padding: 10px;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1.8rem;
}

.heroDescription {
    letter-spacing: 1px;
    line-height: 2em;
    font-weight: 100;
    margin-top: 5px;
    font-size: 1.3rem;
}

.hero a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px 30px;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}

.features {
    background-color: white;        
}

.feature {
    width: 30%;
    display: inline-block;
    padding: 10px;
    margin: 30px 0;
}

.featureLabel {
    color: #3b6978;
    margin-bottom: 15px;
    text-transform: uppercase;    
    font-size: .85rem;
}

.featureTitle {
    color: rgb(71, 71, 71);
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 400;
}

.feature img {
    width: 100%;
    margin-bottom: 20px;
}

.speaker {
    padding-top: 60px;
    padding-bottom: 30px;
}

.bioDescription {
    width: 65%;
}

.speaker .bio {
    border: 1px solid rgb(194, 194, 194);
    float: right;
    text-align: center;
    width: 28%;
    height: 150px;
    margin-top: 40px;    
}

.speaker img {
    width: 120px;
    border-radius: 50%;
    position: relative;
    top: -40px;
}

.speakerLabel {
    position: relative;
    top: -40px;
    font-size: .75rem;
}

.venue {    
    height: 250px;
    margin-bottom: 60px;
    padding: 20px;
}

.venueInfo {
    width: 30%;    
    float: left;
}

.venueMap {
    width: 66%;        
    float: right;
    height: 250px;    
}

.venueMap iframe {
    height: 100%;
    width: 100%;    
}

.venueFeatures {
    padding-bottom: 50px;
    padding-top: 30px;
}

.register {
    background-color: white;
    padding: 30px;
}

.registerInfo {
    width: 60%;
    display: inline-block; 
    margin-bottom: 85px;   
}

.registerForm {
    width: 28%;
    display: inline-block;
    float: right;    
}

.register h2 {
    color: #3b6978;
    padding-bottom: 15px;
    font-weight: 400;
}

.register h3 {
    color: #3b6978;
    padding-bottom: 5px;
    font-weight: 400;
}

.register h5 {
    color: #3b6978;
}

.register ul {
    list-style-type: square;
    list-style-position: inside
}

.register input, .register select, .register textarea {
    display: block;
    padding: 5px;
    margin-bottom: 20px;    
    border-radius: 5px;
    border-style:solid;    
    border: 1px solid grey;
}

.register input, .register textarea {
    width: 250px;
}

.register textarea {
    height: 75px;
}

.register label {
    color: #3b6978;
    font-weight: 600;
}

.registerForm form {
    padding: 30px;
}

.submit {
    background-color: #3b6978;
    color: white;
    
}

.footer {
    padding: 10px;
}

fieldset {
    border: none;
}

.schedule {
    background-color: white;
    padding: 30px 0;
}

table {
    margin-bottom: 44px;
    width: 100%;
  }
  table:last-child {
    margin-bottom: 0;
  }
  th,
  td {
    padding-bottom: 22px;
    vertical-align: top;
  }
  th {
    padding-right: 45px;
    text-align: right;
    width: 20%;
  }
  td {
    width: 40%;
  }
  thead {
    line-height: 44px;
  }
  thead th {
    color: #648880;
    font-size: 24px;
  }
  tbody th {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
  }
  tbody td {
    border-top: 1px solid #dfe2e5;
    padding-top: 21px;
  }
  tbody td:first-of-type {
    padding-right: 15px;
  }
  tbody td:last-of-type {
    padding-left: 15px;
  }
  tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
  }
  table a {
    color: #888;
  }
  table h4 {
    margin-bottom: 0;
  }
  .schedule-offset {
    color: #a9b2b9;
  }

footer .copy {
    color: #84a9ac;
    float: left;
    padding: 10px;
    margin-top: 30px;
}

footer .bottomNav {
    float: right;
    font-size: .8rem;
    margin-top: 30px;    
}

footer .bottomNav .navLi {
    font-size: .8rem;
    padding-left: 5px;    
}
